#container {
    width: 425px;
    height: 350px;
    padding: auto;
    margin: auto;
    border-radius: 5px;
    display: flex;
    align-content: space-around auto;
    background-color: gray;
}



ul {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "col1-item1 col2-item1 col3-item1 col4-item1"
      "col1-item2 col2-item2 col3-item2 col4-item2"
      "col1-item3 col2-item3 col3-item3 col4-item3"
      "col1-item4 col2-item3 col3-item4 col4-item4"; 
  }
  
  /* Assign a class to each li */
      /* Column 1 */
  .col1-item1 { grid-area: col1-item1; }
  .col1-item2 { grid-area: col1-item2; }
  .col1-item3 { grid-area: col1-item3; }
  .col1-item4 { grid-area: col1-item4; }
      /* Column 2 */
  .col2-item1 { grid-area: col2-item1; }
  .col2-item2 { grid-area: col2-item2; }
  .col2-item3 { grid-area: col2-item3; }
  .col2-item4 { grid-area: col2-item4; }
      /* Column 3 */
  .col3-item1 { grid-area: col3-item1; }
  .col3-item2 { grid-area: col3-item2; }
  .col3-item3 { grid-area: col3-item3; }
  .col3-item4 { grid-area: col3-item4; }
 
  .col4-item1 { grid-area: col4-item1; }
  .col4-item2 { grid-area: col4-item2; }
  .col4-item3 { grid-area: col4-item3; }
  .col4-item4 { grid-area: col4-item4; }
